<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="navbar" class="flex text-center w-4/5">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1GHFzicMYaZPHv7YBikNwffrogSMVnTvLsQ&usqp=CAU"
          alt="" class="rounded-full w-16"
        />
      <div  class="flex gap-14">
        <a href="./contact.html">
          <span>Contact</span>
        </a>

        <a href="./aboutus.html">
          <span>About Us</span>
        </a>

        <a href="./index.html">
          <span>Navbar</span>
        </a>

        <a class="action" href="./home.html">
          <span>Home</span>
        </a>
      </div>
    </header>
    <hr />

  </body>
</html>
